# -----------------
# Config
# -----------------
ADMIN_URL=http://localhost:4100
FRONTEND_URL=http://localhost:4200
SERVER_URL=http://localhost:3000

# -----------------
# Databases
# -----------------

# Postgres Database
POSTGRES_USER=ai_user
POSTGRES_PASSWORD=ai_password
POSTGRES_DB=ai_app
POSTGRES_HOST=localhost
POSTGRES_PORT=5436
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# Valkey Cache
VALKEY_PASSWORD=valkey_password
VALKEY_URL=valkey://localhost:6381

# RustFS Object Storage
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin

# -----------------
# External Services
# -----------------

# Sentry
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0

# Resend
RESEND_API_KEY=resend_api_key
